header, main {
    font-family: 'Prompt', sans-serif;
    position: relative;
}
footer {
    width: 100%;
    background-color: #3c352e;
    color: white;
}
/* navbar */
.nav-containter{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    background-color: #ffc825;
    text-align: center;
    line-height: 30px;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 10;
    border-radius: 0.5em;
}
.nav-containter a{
    text-decoration: none;
    color: rgb(64, 64, 64);
}
.nav-containter a:hover, a:active, a:focus{
    font-weight: 900;
    text-transform: uppercase;
}

/* homepage */
.title {
    margin: 50px;
    text-align: center;
    color: rgb(69, 68, 68);
}
.home-container {
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 4fr 1fr 1fr 1fr;
    border-radius: 10px;
    gap: 3.5px;
    border: solid 3px rgb(115, 115, 115);
    background-color: rgb(255, 255, 255);
    width: 80%;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.home-content a{
    margin: 10px;
    text-decoration: none;
    color: black;
    background-color: #ffc825;
    padding: 2px 8px 2px 8px;
    border-radius: 50em;
}
.home-content a:hover, a:active, a:focus{
    font-weight: bold;
    text-transform: uppercase;
}
.home-content {
    /* margin: 5px 0 5px 0; */
    background-color: rgb(218, 215, 215);
    color: rgb(46, 46, 46);
    padding: 5%;
}
.home-content:nth-child(1){
    grid-column: 1 / -1;
    /* margin: auto; */
    background-color: white;
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;

}
.home-content img{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.brann{
    font-size: 30px;
    color: #ef7e15;
    animation: title 10s ease-in infinite;
}

@keyframes title {
    0% {color: #f7e73b}
    12.5% {color: #f4d824}
    25% {color: #f4bd24}
    37.5% {color: #f4a124}
    50% {color: #f48c24}
    65% {color: #f4a124}
    75% {color: #f4bd24}
    88% {color: #f4d824}
    100% {color: #f7e73b}
}

.home-content:nth-child(1) h4{
    margin-top: -10px;
}
.home-content:nth-child(2){
    grid-column: 1 / span 2;
    display: inline-block;
}
.home-content:nth-child(2):hover{
    background-color: #d0701b;
    color: white;
}
.home-content:nth-child(3){
    grid-column: 3 / span 2;
}
.home-content:nth-child(3):hover{
    background-color: #2467cb;
    color: white;
}
.home-content:nth-child(4){
    grid-column: 5/ span 1;
    background-color: #ffc825;
}
.home-content:nth-child(5){
    grid-column: 1/ span 1;
    background-color: #ffc825;
}
.home-content:nth-child(6){
    grid-column: 2/ span 2;
}
.home-content:nth-child(6):hover{
    background-color: #3c352e;
    color: white;
}
.home-content:nth-child(7){
    grid-column: 4/ span 2;
}
.home-content:nth-child(7):hover{
    background-color: #ede85d;
}
.home-content:nth-child(8){
    grid-column: 1 / span 2;
}
.home-content:nth-child(8):hover{
    background-color: #9e1d4e;
    color: white;
}
.home-content:nth-child(9){
    grid-column: 3 / span 2;
}
.home-content:nth-child(9):hover{
    background-color: #1a7868;
    color: white;
}
.home-content:nth-child(10){
    grid-column: 5/ span 1;
    background-color: #ffc825;
}
.home-content:nth-last-child(-1n + 3){
    margin-bottom: 15px;
}
.project-sub-title{
    display: none;
}
#disableclick{
    font-size: medium;
    background-color: rgb(165, 165, 165);
}
@media screen and (min-width: 900px) {
    .nav-containter a{
        margin: 0 10px 0 10px;
        text-decoration: none;
        color: rgb(64, 64, 64);
    }
    h6{
        font-size: 30px;
    }
    .home-content:nth-child(1){
        grid-column: 1 / -1;
        background-color: white;
        border-radius: 0.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .ch1-r img{
        width: 100%;
    }
    .home-content:nth-child(1) h3{
        font-size: 60px;
        color: #ef7e15;
    }
    .home-content a{
        margin: 10px;
        text-decoration: none;
        color: black;
        background-color: #ffc825;
        padding: 4px 15px 4px 15px;
        border-radius: 50em;
    }
    .project-sub-title{
        display: block;
    }
    .project-title{
        font-size: 30px;
        line-height: 10px;
    }
    #disableclick{
        font-size: 15px;
    }
    footer {
        margin-bottom: -80%;
    }
}
@media screen and (prefers-reduced-motion: reduce) {
    .brann{
        animation: none;
    }
}
